<div class="col-9 white ui-shadow p-3" id="information">
    <h5 class="text-dark">Informations</h5>
    <small>Toutes les informations concernant le programme</small>
    <hr>
    <small>Depot : 1</small><br>
    <small><i class="mdi-communication-business"></i> Fournisseur(s) : {{nbFournisseur}}</small><br>
    <small><i class="mdi-social-person"></i> Client : {{nbClient}}</small>

</div>