<div class="col-3 p-4" id="options">
    <h5 class="text-dark">Options</h5>
    <small>toutes les options disponibles ici</small>
    <hr>
    <button class="btn btn-dark rounded-0" type="button" data-toggle="modal"
        data-target="#modelId">génerer un chemin</i></button>
    <div class="mt-3">
        <button class="btn btn-warning rounded-0" type="button"
            data-toggle="modal" data-target="#modelId">Calculer la
            distance</i></button>
    </div>

</div>